NET "clck" LOC = "V10";

NET "notes(0)" LOC = "T5";
NET "notes(1)" LOC = "V8";
NET "notes(2)" LOC = "U8";
NET "notes(3)" LOC = "N8";
NET "notes(4)" LOC = "M8";
NET "notes(5)" LOC = "V9";
NET "notes(6)" LOC = "T9";
NET "notes(7)" LOC = "T10";

NET "dac(0)" LOC = "E11";
NET "dac(1)" LOC = "F11";
NET "dac(2)" LOC = "F10";
NET "dac(3)" LOC = "G11";
NET "dac(4)" LOC = "G3";
NET "dac(5)" LOC = "K6";
NET "dac(6)" LOC = "L7";
NET "dac(7)" LOC = "H3";
NET "dac(8)" LOC = "L3";
NET "dac(9)" LOC = "L4";
NET "dac(10)" LOC = "K1";